#bio_completa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bio_completa > section > .primera_seccion_img, .segunda_seccion_img {
    border: solid black 3px;;
}

#bio_completa img {
    border-radius: 50px;
}

.parrafo {
    font-family: "Sansita Swashed", system-ui;
    display: flex;
    border: solid 2px red;
    font-size: 2em;
}

#primera_seccion, #segunda_seccion {
    border:solid 2px pink;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#segunda_seccion {
    grid-template-columns: 2fr 1fr;
}

#segunda_seccion > .segunda_seccion_texto {
    order: 1;
}

#segunda_seccion > .segunda_seccion_img {
    order: 2;
}

@media (min-width: 901px) {
    #primera_seccion > .primera_seccion_texto, #tercera_seccion > .tercera_seccion_texto {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 900px) {
    #primera_seccion > .primera_seccion_texto, #segunda_seccion > .segunda_seccion_texto, #tercera_seccion > .tercera_seccion_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}