#bio_completa {
    display: flex;
    flex-direction: column;
}

.parrafo {
    font-family: "Sansita Swashed", system-ui;
    display: flex;
    border: solid 2px red;
    font-size: 2em;
    width: 45%;
}

#primera_seccion, #segunda_seccion, #tercera_seccion {
    border:solid 2px pink;
}

@media (min-width: 700px) {
    #primera_seccion, #tercera_seccion {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 700px) {
    #primera_seccion, #segunda_seccion, #tercera_seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
}