#pagina_completa {
    margin-top: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.mapa {
    display: flex;
    justify-content: end;
}

#formulario_completo {
    display: flex;
    padding: 25px;
    width: 100%;
    flex-direction: column;
    margin-left: 25px;
}

.input {
    margin: 15px 0 15px 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}

.input_unitario {
    width: 25em;
    height: 2em;
    margin-left: -10px;
    border-radius: 30px;
    font-weight: bold;
    color: darkblue;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #bbbbbb;
    text-decoration: none;
}

#formulario_completo > .input > #input_apellidos {
    width: 35em;
}

#input_mensaje {
    padding: 25px;
    width: 50em;
    height: 15em;
    border-radius: 15px;
}

#input_correo {
    width: 40em;
}

#input_enviar {
    border-radius: 10px;
    font-size: 2em;
    background-color: aqua;
}

#input_enviar:hover {
    background-color: rgb(0, 255, 21);
}

#mapa {
    width:700px;
    height: 750px;
}

@media (max-width: 1600px) {
    .input_unitario {
        width: 20em;
        height: 2em;
        border-radius: 30px;
    }

    #formulario_completo > .input > #input_apellidos {
        width: 20em;
    }

    #input_correo {
        width: 20em;
    }

    #input_mensaje {
        width: 25em;
        height: 10em;
        border-radius: 15px;
    }
}

@media (max-width: 1200px) {
    #mapa {
        width:500px;
        height: 650px;
    }
}

@media (max-width: 1000px) {
    #mapa {
        width:350px;
        height: 550px;
    }

    #input_mensaje {
        width: 15em;
        height: 10em;
        border-radius: 15px;
    }
}

@media (max-width: 700px) {
    #pagina_completa {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #formulario_completo {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mapa {
        width:350px;
        height: 500px;
    }

    .input {
        margin-left: 0px;
    }

    .input_unitario {
        width: 15em;
        height: 2em;
        border-radius: 30px;
        margin-left: -20px;
    }

    #formulario_completo > .input > #input_apellidos {
        width: 15em;
    }

    #input_correo {
        width: 15em;
    }

    #input_mensaje {
        width: 15em;
        height: 10em;
        border-radius: 15px;
    }
}