#completo {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 90%;
}

.eslogan {
    border: 5px solid rgb(107, 107, 107);
    margin-top: 10px;
    background-color: rgb(124, 124, 224);
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

#eslogan {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    padding: 5px;
}

#bug_texto {
    font-family: "Bungee Spice", sans-serif;
    display: inline;
}

#bug {
    width: 2em;
    position: fixed;   
}

#bug:hover {
    transform: rotate(360deg);
    transition: 1.5s;
}

#bug:not(:hover) {
    transform: rotate(0deg);
    transition: 0.75s;
}

#visitas {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 1.5em;
}

#visitas > #contador_visitas {
    border: solid rgb(127, 144, 216) 2px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    width: fit-content;
}

#main > .presentacion {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#main > .presentacion > #logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

#main > .presentacion > #logo img {
    border-radius: 50px;
}

#main > .presentacion > #logo > #nombre {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 8em;
}

#main > .presentacion > #texto p {
    font-family: "Coming Soon", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 2.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
  
@media (max-width: 1150px) {
    #main > .presentacion > #logo > #nombre {
        font-size: 5em;
    }
}

@media (max-width: 1250px) {
    #main > .presentacion > #logo {
        height: fit-content;
        grid-template-columns: 1fr 2fr;
    }

    #main > .presentacion > #texto {
        margin-top: -30px;
    }
    
}

@media (max-width: 750px) {
    #main > .presentacion > #logo > #nombre {
        font-size: 5em;
    }

    #main > .presentacion > #logo {
        display: flex;
        flex-direction: column;
        margin: 15px 0;        
    }

    #main > .presentacion > #texto {
        margin-top: -50px;
    }
}

@media (max-width: 500px) {
    #main > .presentacion > #logo > #nombre {
        font-size: 2.5em;
    }

    #main > .presentacion > #texto p {
        font-size: 1.5em;
    }

    #main > .presentacion > #texto {
        margin-top: -45px;
    }
}