#main > #completo > #individual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}

#main > #completo > #individual > .unitario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 15px 0;
}

#main > #completo > #individual > .unitario p {
    font-family: "Koh Santepheap", serif;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #b1b1b1;
    margin-left: 5px;
    border-radius: 25px;
    padding: 12px;
    width: 15em;
}

#main > #completo > #individual > .unitario img {
    width: 250px;
    border-radius: 25px;
    border: solid black 2px;
}

#main > #completo > #individual > .unitario img:hover {
    filter: brightness(0.5);
}

#main > #completo > #individual > .unitario > a > #akira {
    height: 200px;
}

@media (max-width: 1150px) {
    #main > #completo > #individual {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    #main > #completo > #individual > .unitario {
        grid-template-columns: 1fr;
        margin: 40px 0;
    }

    #main > #completo > #individual > .unitario p {
        margin-left: 0px;
        padding: 12px;
        width: 226px;
    }
}