#main {
    border: 1px solid black;
}

#main > #completo {
    border: 2px solid blue;
}

#main > #completo > #individual {
    border: 3px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#main > #completo > #individual > .unitario {
    border: 4px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
}

#main > #completo > #individual > .unitario p {
    background-color: #b1b1b1;
    border: 5px solid red;
}

img {
    width: 200px;
}